.footer1{
    background-color: #07142D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 100px;
    gap: 4rem;
}
.footer2{
    background-color: #050F21;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #343c4b;
}
.footer2 p{
    color: #adadad;
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.left{
    width: 40%;
}
.right{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 60%;
    align-self: start;
}
.left p {
    color: rgba(255,255,255,0.65);
    font-family: 'Open Sans', 'Sans Serif';
    font-size: 16px;
    margin-bottom: 8%;
}
.divisoria{
    width: 50px;
    height: 3px;
    background-color: #2c2c2c;
    margin: 2rem 0;
}
.social{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.social svg:hover .change {
    cursor: pointer;
    fill: #00C9A7;
}
.social svg:hover .pointer{
    cursor: pointer;
}
.list h1{
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;    
}
.list a{
    text-decoration: none;
    color: white;
}
.list li{
    list-style: none;
    color: rgba(255,255,255,0.65);
    font-family: 'Open Sans', 'Sans Serif';
    margin: 5% 0;
}
.divisor{
    width: 25px;
    height: 3px;
    background-color: #2c2c2c;
    margin: 2rem 0;
}
.contact li{
    display: flex;
    align-items: center;
    gap: 5px;
}